:root {
  --mobile-space-size: 14px;
  --desktop-space-size: 18px;

  --space-xs: 0.25rem;
  --space-sm: 0.625rem;
  --space-md: 1rem;
  --space-lg: 1.325rem;
  --space-xl: 4.245rem;

  --font-xs: 10px;
  --font-sm: 12px;
  --font-md: 16px;
  --font-lg: 20px;
  --font-xl: 24px;


  --color-white: hsl(0, 100%, 100%);
  --color-purple: hsl(233, 43%, 44%);
  --color-yellow: hsl(44, 100%, 50%);
  --color-green: hsl(72, 63%, 51%);
  --color-blue-light: hsl(184, 87%, 90%);
  --color-blue: hsl(188, 57%, 53%);
  --color-red: hsl(16, 100%, 50%);
  --color-grey-light: hsl(210, 28%, 88%);
  --color-grey: hsl(213, 8%, 54%);
  --color-grey-dark: hsl(213, 18%, 34%);

  --body-color: var(--color-grey-dark);
  --text-color: var(--color-grey-light);

  --pitch-background-color: var(--color-white);
  --pitch-title-color: var(--color-purple);
  --pitch-author-color: var(--color-grey);
  --pitch-selected-color: var(--color-yellow);

  --dot-color: var(--color-blue);

  --time-slot-background-color: var(--color-blue);
  --time-slot-text-color: var(--color-blue-light);

  --shadow-box: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  font-size: var(--mobile-space-size);
}

@media (min-width: 768px) {
  :root {
    font-size: var(--desktop-space-size);

    --font-xs: 14px;
    --font-sm: 16px;
    --font-md: 22px;
    --font-lg: 24px;
    --font-xl: 46px;
  }
}

/*********************************************************/
/* Reset */
/*********************************************************/

html {
    box-sizing: border-box
}

* , * ::before, * ::after {
    box-sizing: inherit
}

body {
  padding: var(--space-lg);
  color: var(--text-color);
  background-color: var(--body-color);
  margin: 0;
  line-height: 1.2;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

p, h1, h3, ul, li {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

/*********************************************************/
/* Pitches */
/*********************************************************/

.pitches {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: var(--space-md);
}

.pitch,
.slot {
  padding: var(--space-md);
  box-shadow: var(--shadow-box);
  background-color: var(--pitch-background-color);
  cursor: pointer;

  animation: pitch-in 300ms ease-in;
}

@keyframes pitch-in {
  0% {
    transform: translateY(-60%);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

.pitch__title {
  font-size: var(--font-lg);
  margin-bottom: var(--space-xs);
  color: var(--pitch-title-color);
  font-weight: 900;
}

.pitch__author {
  font-size: var(--font-sm);
  color: var(--pitch-author-color);
  margin-bottom: var(--space-md);
}

.pitch__unselected,
.pitch__selected,
.slot__unselected,
.slot__selected {
  margin: calc(var(--space-md) * -1) calc(var(--space-md) * -1) var(--space-md);
}

.pitch__unselected,
.slot__unselected {
  border-top: var(--space-xs) solid var(--pitch-background-color);
}

.pitch__selected,
.slot__selected {
  border-top: var(--space-xs) solid var(--pitch-selected-color);
}

.votes__dots {
  display: inline-block;
  background-color: var(--dot-color);
  color: var(--dot-color);
  border-radius: 50%;
  height: var(--font-sm);
  width: var(--font-sm);
  margin-right: var(--space-xs);
}

.pitch__selected ~ .votes .votes__dots:last-of-type {
  background-color: var(--pitch-selected-color);
}

.no-pitches__title {
  font-size: var(--font-xl);
  font-weight: 900;
}

.no-pitches__text {
  font-size: var(--font-lg);
}

/*********************************************************/
/* Schedule */
/*********************************************************/

.schedule {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.schedule__title {
  font-size: var(--font-xl);
  font-weight: 900;
  margin-bottom: var(--space-lg);
}

.slot {
  margin-bottom: var(--space-md);
}

.slot__title {
  font-size: var(--font-lg);
  margin-bottom: var(--space-xs);
  color: var(--pitch-title-color);
  font-weight: 900;
}

.slot__meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.slot__meta li {
  flex: 0 0 auto;
  min-width: 0;
  margin-right: var(--space-sm);
  font-size: var(--font-sm);
  color: var(--pitch-author-color);
}

.slot__meta li:last-of-type {
  margin-right: 0;
}

.slot__room {
  font-weight: 900;
  text-transform: uppercase;
}

.slot__voted {
  background-color: var(--pitch-selected-color);
  border-radius: 50%;
  line-height: 1;
  height: var(--font-md);
  width: var(--font-md);
}

.schedule__time {
  margin-bottom: var(--space-xl);
}

.schedule__time-banner {
  display: flex;
  color: var(--time-slot-text-color);
  margin-bottom: var(--space-sm);

  animation: time-slot-in 300ms ease-in;
}

.schedule__time-banner::before,
.schedule__time-banner::after {
  content: '';
  display: block;
  height: var(--font-md);
  background-color: var(--time-slot-background-color);
}

.schedule__time-banner::before {
  flex: 0 0 auto;
  margin-right: var(--space-sm);
  width: var(--space-md);
}

.schedule__time-banner::after {
  flex: 1 1 auto;
  margin-left: var(--space-sm);
}


@keyframes time-slot-in {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}

.schedule__map {
  width: 100%;
}

.schedule__map img {
  width: 100%;
  box-shadow: var(--shadow-box);
  background-color: var(--pitch-background-color);
}

/*********************************************************/
/* Admin area */
/*********************************************************/

.input-button {
  cursor: pointer;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

.input-button:hover {
  color: black;
}
