{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>unconf</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <div class='schedule'>
      <h1>Hello Twitter!</h1>
      <p>
        Voting is currently open; a schedule will be displayed when voting 
        closes. In the mean time, open up in a non-twitter browser and get
        voting!
      </p>
  </div>
</body>
</html>