{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>unconf</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <div id="main"></div>
  <script src="{% static 'main.js' %}"></script>
  <script>
      var app = Elm.Main.init({
        node: document.getElementById('main')
      });
  </script>
</body>
</html>
