{% load static %}

<html>
<head>
  <title>unconf</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <div id="main"></div>
  <script src="{% static 'main.js' %}"></script>
  <script>
      var node = document.getElementById('main');
      var app = Elm.Main.embed(node);
  </script>
</body>
</html>
